################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Selenium/bin/Release
