<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>

  <appSettings>


    <add key="UserIDSelector" value="document.getElementById('cred_userid_inputtext').value='matteradmin@msmatter.onmicrosoft.com'" />
    <!--Update the value with User name-->
    <add key="UserPasswordSelector" value="document.getElementById('cred_password_inputtext').setAttribute('value','P@$$w0rd01')" />
    <!--Update the value with Password-->

    <add key="UseAnotherAccount" value="use_another_account" />
    <add key="UserIDTextBox" value="cred_userid_inputtext" />
    <add key="UserPasswordTextBox" value="cred_password_inputtext" />
    <add key="SignInButton" value="cred_sign_in_button" />
    <add key="KeepSignInButtonCheckBox" value="document.getElementById('cred_keep_me_signed_in_checkbox').checked = true;" />
    <add key="DocumentSearch" value="http://matterwebapp.azurewebsites.net/#/documents"/>
    <add key="CreateMatter" value="https://matterwebapp.azurewebsites.net/#/createMatter"/>
    <add key="DocumentDashboard" value="https://matterwebapp.azurewebsites.net/#/documentdashboard"/>
    <add key="Home" value="https://matterwebapp.azurewebsites.net"/>
    <add key="MatterDashboard" value="https://matterwebapp.azurewebsites.net/#/matterdashboard"/>
    <add key="MatterSearch" value="https://matterwebapp.azurewebsites.net/#/matters"/>
    <add key="Settings" value="https://matteruiv0.azurewebsites.net/pages/settings.aspx?%26clientdetails=https://msmatter.sharepoint.com/sites/microsoft$|$Microsoft"/>
    <add key="DocumentLandingPage" value="https://msmatter.sharepoint.com/sites/catalog/SitePages/documentDetails.aspx?client=/sites/microsoft%26listguid=1982308e-bb28-431f-838a-bc46c7717487%26docguid=1c825e2d-38ac-4a1c-8314-3710bf133dbe"/>
    <add key="ManagePermissionPage" value="https://matteruiv0.azurewebsites.net/pages/managepermissions.aspx?%26IsEdit=true%26clientUrl=https://msmatter.sharepoint.com/sites/Amazon%26matterName=New Matter Amazon Test34%26IsDlg=1%26IsDlg=1"/>
    <add key="UserName" value="matteradmin@msmatter.onmicrosoft.com" />
    <add key="Password" value="P@$$w0rd01" />
    <add key="MatterDescription" value="MC" />
    <add key="MatterName" value="test" />
    <add key="AttorneyName" value="SaiK" />
    <add key="AttorneyUser" value="wilson" />
    <add key="DocumentLanding" value=""/>
    <add key="MatterLanding" value="https://msmatter.sharepoint.com/sites/microsoft/SitePages/a0ec6dfddf9f9c52efb9f8a245d3ff97.aspx" />
    <add key="DropDownKeyword" value="Amazon" />
    <add key="Attorney" value="Wilson Gajarla" />
    <add key="AttorneyMember" value="SaiKiran Gudala" />
    <add key="SearchKeyWord" value="test" />
    <add key="OpenDocument" value="https://msmatter.sharepoint.com/sites/microsoft" />
  </appSettings>
</configuration>