<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>

  <appSettings>

    <add key="LOGFILEPATH" value="AutoTestLog.txt" />
    <!--update the Log file location if required-->

    <add key="UserIDSelector" value="document.getElementById('cred_userid_inputtext').value='matteradmin@msmatter.onmicrosoft.com'" />
    <!--Update the value with User name-->
    <add key="UserPasswordSelector" value="document.getElementById('cred_password_inputtext').setAttribute('value','P@$$w0rd01')" />
    <!--Update the value with Password-->

    <add key="UseAnotherAccount" value="use_another_account" />
    <add key="message" value="Verified Page load URL: " />
    <add key="UserIDTextBox" value="cred_userid_inputtext" />
    <add key="UserPasswordTextBox" value="cred_password_inputtext" />
    <add key="SignInButton" value="cred_sign_in_button" />
    <add key="KeepSignInButtonCheckBox" value="document.getElementById('cred_keep_me_signed_in_checkbox').checked = true;" />
    <add key="documentSearch" value="http://matterwebapp.azurewebsites.net/#/documents"/>
    <add key="createMatter" value="https://matterwebapp.azurewebsites.net/#/createMatter"/>
    <add key="documentDashboard" value="https://matterwebapp.azurewebsites.net/#/documentdashboard"/>
    <add key="home" value="https://matterwebapp.azurewebsites.net"/>
    <add key="matterDashboard" value="https://matterwebapp.azurewebsites.net/#/matterdashboard"/>
    <add key="matterSearch" value="https://matterwebapp.azurewebsites.net/#/matters"/>
    <add key="settings" value="https://matteruiv0.azurewebsites.net/pages/settings.aspx?%26clientdetails=https://msmatter.sharepoint.com/sites/microsoft$|$Microsoft"/>
    <add key="userName" value="matteradmin@msmatter.onmicrosoft.com" />
    <add key="password" value="P@$$w0rd01" />
    <add key="matterDescription" value="MC" />
    <add key="matterName" value="test" />
    <add key="attorneyName" value="SaiK" />
    <add key="attorneyUser" value="wilson" />
    <add key="documentLanding" value="https://msmatter.sharepoint.com/sites/catalog/SitePages/documentDetails.aspx?client=/sites/microsoft%26listguid=315faf4a-50d9-48ed-86d1-60507e2e5a8c%26docguid=71ef7179-d1e6-48d7-ad08-1a16402bdee6"/>
    <add key="matterLanding" value="https://msmatter.sharepoint.com/sites/microsoft/SitePages/a0ec6dfddf9f9c52efb9f8a245d3ff97.aspx" />
    <add key="dropDownKeyword" value="Amazon" />
    <add key="attorney" value="Wilson Gajarla" />
    <add key="attorneyMember" value="SaiKiran Gudala" />
    <add key="searchKeyWord" value="test" />
  </appSettings>
</configuration>