<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="credSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>

  <!-- *****Kindly execute encrypt.bat/decrypt.bat file to encrypt/decrypt credSettings (UserName, Password)***** -->
  
  <credSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>A7w/3OErNu9RkXI7JMJkZdjO50TaJM+vNXBbKO+bM+XHEtUqWydxrIo4Pn3BK+My+0d7Hx0hV/tNydDrLGN2FDcnmuPBtgt4VRetRaDbrAmKVUZq22NsOpoD/wfsD7A1LSyJkJ0mifR1cT5ZTSwl1ydSVrdp5AwZBUaDYP+w1ZvsxMAt8tJJwvqsIL+JPHXUt9/Sd7qmWE4X9L7M/9Dxq+x71Y77QQ3mJePOG1XQ4Y77r2yyJKCfPlDpxMWOCZ21z60WxmiqCidcVbhS9GYnsVNRDja4tTDs/Qu16UQ7J+WZV0chBAbdhVHBZpUDDocm4xMCTF96oURhtzNdtkcCOQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>K7Avhe+6qo2JOlA4JsRYjUJHbKteHE4PWmyLlDLS+QeLBk2qDCWa0OUFizBk6aq16M8kH6zYZpJSQb325fpEHf+w814RMR7m4EybntOhOAiM926uDQCDIj956S57RLnwYsxppZ89l9jvcEyFHI0Lv0ITb7Wzf/MSspABB+48eTomwwFQHjHvuD8q+qtMfkaeJVlC/umGZ4X+FGgdIxXZ5Q==</CipherValue>
      </CipherData>
    </EncryptedData>
  </credSettings>

  <appSettings>

    <!-- *****All links needed for matter center pages***** -->
    <add key="DocumentSearch" value="http://matterwebapp.azurewebsites.net/#/documents"/>
    <add key="CreateMatter" value="https://matterwebapp.azurewebsites.net/#/createMatter"/>
    <add key="DocumentDashboard" value="https://matterwebapp.azurewebsites.net/#/documentdashboard"/>
    <add key="Home" value="https://matterwebapp.azurewebsites.net"/>
    <add key="MatterDashboard" value="https://matterwebapp.azurewebsites.net/#/matterdashboard"/>
    <add key="MatterSearch" value="https://matterwebapp.azurewebsites.net/#/matters"/>
    <add key="Settings" value="https://matteruiv0.azurewebsites.net/pages/settings.aspx?%26clientdetails=https://msmatter.sharepoint.com/sites/microsoft$|$Microsoft"/>
    <add key="DocumentLandingPage" value="https://msmatter.sharepoint.com/sites/catalog/SitePages/documentDetails.aspx?client=/sites/microsoft%26listguid=e734db7d-8c18-4fef-8509-20bc69c9817d%26docguid=f61e8203-4146-4193-9b64-813c99340429"/>
    <add key="ManagePermissionPage" value="https://matteruiv0.azurewebsites.net/pages/managepermissions.aspx?%26IsEdit=true%26clientUrl=https://msmatter.sharepoint.com/sites/Amazon%26matterName=New Matter Amazon Test34%26IsDlg=1%26IsDlg=1"/>
    <add key="MatterLanding" value="https://msmatter.sharepoint.com/sites/microsoft/SitePages/a0ec6dfddf9f9c52efb9f8a245d3ff97.aspx" />
    <add key="OpenDocument" value="https://msmatter.sharepoint.com/sites/microsoft" />
    <add key="MicrosoftLogo" value="http://www.microsoft.com"/>
    <add key="FeedbackAndSupport" value="support@supportsite.com"/>
    <add key="PrivacyAndCookies" value="privacy.supportsite.com"/>
    <add key="TermsOfUse" value="termofuse.supportsite.com"/>
    <!-- ************************************************** -->

    <!-- ****** Update configuration as per changes ******* -->
    <add key="MatterDescription" value="MC" />
    <add key="MatterName" value="testing" />
    <add key="AttorneyName" value="Saig" />
    <add key="AttorneyUser" value="matter" />
    <add key="DocumentLanding" value=""/>
    <add key="DropDownKeyword" value="Amazon" />
    <add key="DropDownClient" value="Microsoft" />
    <add key="SearchKeyWord" value="test" />
    <add key="PermissionLevel" value="Full Control" />
    <add key="Role" value="Responsible Attorney" />
    <!-- *************************************************** -->

  </appSettings>
</configuration>